.form {
    margin: 0 auto;
    width: 80%;
}

.form__title, .form__content {
    border: none;
    box-sizing: border-box;
    display: block;
    margin: $s-size auto;
    outline: none;
    padding: $s-size;
    width: 100%;
}

.form__content {
    resize: none;
}