.note {
  color: white;
  border-bottom: 1px dashed lighten($light-blue, 10%);
  margin-bottom: .6rem;
}

.note__title {
  display: inline-block;
  font-size: $m-size * 1.3;
  margin-left: $s-size;
  margin-top: 0;
  margin-bottom: $s-size;
}

.note__content {
  font-size: $m-size * 0.9;
  margin: 0 $l-size $s-size;
  word-break: break-all;
  white-space: pre-line;
}