.widget {
  width: 80%;
  margin: auto;
  background: $light-blue;
}

.widget__header {
  background: $blue;
  color: $off-white;
  margin: 0;
  padding: $s-size;
}

.widget__message {
  text-align: center;
  color: $off-white;
  padding: $l-size;
}

.widget__notes {
  border-bottom: 2px solid lighten($light-blue, 10%);
}